@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}


.dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 120px;
  width: fit-content;
  overflow-y: auto;
}

.dropdown-list {
  cursor: pointer;
  padding: 4px 8px;
}

.dropdown-list:hover {
  background-color: #f1f1f1;
}